<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deletando {{ func.primeiroNome }}</title>
</head>
<body>

    <p>Deseja deletar {{ func.primeiroNome}} {{func.ultimoNome }} ?</p>
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Deletar!</button>
    </form>
    <br>
    <a href="{% url 'listFunc' %}">Voltar para lista de funcionários!</a>
</body>
</html>