{%extends 'base.html'%}
{% load bootstrap %}
{%block title%}Editando o funcionário {{ func.primeiroNome}}{%endblock%}
{%block username%}{{saudacao}} {{user.first_name}} {%endblock%}
{%block headerPager%}Editando {{ func.primeiroNome}} {{ func.ultimoNome}}{%endblock%}
{%block subHeader%}
Aqui você pode editar o funcionário, alterar todas as informações dele <br>
além de ser possível excluir o funcionário também através do botão <br>
"Excluir Funcionário".
{%endblock%}


{%block main%}
<div class="col-lg-8 mx-auto">
  <br>
  <h4>Edite o funcionário abaixo:</h4><br>
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form|bootstrap }}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
      <a href="{%url 'delFunc' func.id  %}" class="btn btn-secondary btn-lg btn-block">Excluir Funcionário</a>
  </form>
</div>
{%endblock%}