{%load static%}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{%block title%}{%endblock%}</title>

  <!-- Bootstrap core CSS -->
  <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="{%static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">{%block username%}{%endblock%}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{%url 'listFunc'%}">Listar Funcionários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{%url 'addFunc'%}">Adicionar Funcionário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{%url 'logout'%}">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>{%block headerPager%}{%endblock%}</h1>
      <p class="lead">{%block subHeader%}{%endblock%}</p>
    </div>
  </header>


  <section id="about">
    <div class="container">
      <div class="row">
          {%block main%}
<!--        <div class="col-lg-8 mx-auto">-->
<!--          <h2>About this page</h2>-->
<!--          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>-->
<!--          <ul>-->
<!--            <li>Clickable nav links that smooth scroll to page sections</li>-->
<!--            <li>Responsive behavior when clicking nav links perfect for a one page website</li>-->
<!--            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>-->
<!--            <li>Minimal custom CSS so you are free to explore your own unique design options</li>-->
<!--          </ul>-->
<!--        </div>-->
          {%endblock%}
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2020 - Project only to Learn about Django</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{%static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
